system set host-name A24-14-3928

vlan create vlan 30
vlan add vlan 30 port 6
vlan create vlan 50
vlan add vlan 50 port 5
vlan create vlan 90
vlan add vlan 90 port 2
vlan create vlan 80
vlan add vlan 80 port 1

port en po 1
port en po 2
port en po 5
port en po 6

interface create ip-interface p6_14_16 ip 30.1.1.14/24 ip-forwarding on vlan 30
interface create ip-interface p5_14_13 ip 50.1.1.14/24 ip-forwarding on vlan 50
interface create ip-interface p1_14_11 ip 80.1.1.14/24 ip-forwarding on vlan 80
interface create ip-interface p2_14_12_2 ip 90.1.1.14/24 ip-forwarding on vlan 90
interface create loopback lbk ip 4.4.4.4
