system set host-name A24-11-3928

vlan create vlan 20
vlan add vlan 20 port 2
vlan create vlan 10
vlan add vlan 10 port 5
vlan create vlan 70
vlan add vlan 70 port 3
vlan create vlan 80
vlan add vlan 80 port 4

port en port 1
port en port 2
port en port 3
port en port 4

interface create ip-interface p2_11_12 ip 20.1.1.11/24 ip-forwarding on vlan 20
interface create ip-interface p5_11_16 ip 11.1.1.11/24 ip-forwarding on vlan 10
interface create ip-interface p3_11_13 ip 70.1.1.11/24 ip-forwarding on vlan 70
interface create ip-interface p4_11_14 ip 80.1.1.11/24 ip-forwarding on vlan 80
interface create loopback lbk ip 2.2.2.2
