system set host-name A24-12-3928

vlan create vlan 20
vlan create vlan 40
vlan create vlan 90
vlan create vlan 100

vlan add vlan 20 port 2
vlan add vlan 40 port 4
vlan add vlan 90 port 5
vlan add vlan 100 port 3

port en po 2
port en po 3
port en po 4
port en po 5

interface create ip-interface p2_12_11 ip 20.1.1.12/24 ip-forwarding on vlan 20
interface create ip-interface p4_12_13 ip 40.1.1.12/24 ip-forwarding on vlan 40
interface create ip-interface p5_12_14 ip 90.1.1.12/24 ip-forwarding on vlan 90
interface create ip-interface p3_12_13 ip 100.1.1.12/24 ip-forwarding on vlan 100
interface create loopback lbk ip 3.3.3.3

